DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=false

# Kafka UI
KAFKA_CLUSTERS_0_NAME=local
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092

# Elasticsearch
ES_DISCOVERY_TYPE=single-node
ES_XPACK_SECURITY_ENABLED=false
ES_JAVA_OPTS=-Xms512m -Xmx512m

# Kibana
ELASTICSEARCH_HOSTS=http://elasticsearch:9200

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false

# PostgreSQL
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_DB=ecommerce

# Application Shared
KAFKA_BROKERS=kafka:29092
KAFKA_CLIENT_ID=ecommerce
REDIS_URL=redis://redis:6379
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=604800
ES_NODE=http://elasticsearch:9200
ES_INDEX=orders

# Service Ports
AUTH_SERVICE_PORT=3006
ORDER_SERVICE_PORT=3001
PAYMENT_SERVICE_PORT=3002
DELIVERY_SERVICE_PORT=3003
ANALYTICS_SERVICE_PORT=3004
SEARCH_SERVICE_PORT=3005
PRODUCT_SERVICE_PORT=3007
GATEWAY_PORT=8000

AUTH_SERVICE_URL=http://auth-service:3006
ORDER_SERVICE_URL=http://order-service:3001
SEARCH_SERVICE_URL=http://search-service:3005
ANALYTICS_SERVICE_URL=http://analytics-service:3004
PRODUCT_SERVICE_URL=http://product-service:3007
